[Desktop Entry]
Encoding=UTF-8
Name=RareShares
Comment=RareShares P2P Cryptocurrency
Exec=rareshares-qt %u
Terminal=false
Type=Application
Icon=rareshares128
MimeType=x-scheme-handler/rareshares;
Categories=Office;Finance;
Name[en_CA]=rareshares-qt.desktop.desktop
